<% provide(:base_title, 'Contact')%>
    <h1>Sample App</h1>
    <p>
      This is the contact page for the
      <a href="http://railstutorial.org/contact">Ruby on Rails Tutorial</a>
      sample application.  
    </p>
  	<p>Except you can't contact anything because we dont have a phone</p>
